@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

* {
    font-family: "Lato", sans-serif;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
  padding: 32px; 
  position: relative;   
}

.row {
    display: flex;
    max-width: 1200px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #243e63;
    display: flex;
    align-items: center;
}

.logo__img {
    width: 40px;
    height: 40px;
}

.site__name {
    font-family: "Inter", sans-serif;
    font-size: 24px;
    margin-left: 8px;
}

.site__name:hover {
    color: #6415ff;
    cursor: not-allowed;
}

.nav__bar {
    display: flex;    
}

ul {
    list-style-type: none;
    text-decoration: none;
    
}

li {
    font-size: 14px;
    display: inline-block;
}

a {
    text-decoration: none;
    color: #243e63;
}

a:hover {
    text-decoration: underline;       
    text-decoration-thickness: 2px;    
    color: #6415ff;
    transition: all 300ms ease;
    
}

.nav__list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav__item {
    margin: 0 24px;
    font-weight: 700; 
    border-bottom: 4px; 
    margin: 0 24px;
    padding-bottom: 4px;  
}

.nav__item:nth-child(5) {
    margin: 0 24px 0 48px;
    padding: 0 0 4px;
    

}

.btn__primary {
    font-size: 14px;
    font-weight: 700;
    background-color: #6415ff;
    color: #f7fafc;
    border: none;
    border-radius: 25px;
    padding: 12px 32px;
    transition: all 300ms ease;
}


